//본인인증
.auth{
  .button_group{
    margin-top: 40px;
  }
  //content_box style
  .content_box{

    .sub_txt{
      margin-top: 25px;
    }
    .prec{
      margin: 35px 0 28px;
    }
    .cb_inner{
      margin-top: 35px;
    }
  }
}
