@use 'var' as index;
@forward 'font';
@forward 'base';
@forward 'layout';
@forward 'login';
@forward 'content';
@forward 'components';
@forward 'sign_up';
@forward 'user_info_management';
@forward 'authentication';
@forward 'compeleted_sign_up';
@forward 'find_id';
@forward 'agreement';

// index.php 페이이지 코드
#index-nav {
  width: 100%;
  margin-top: 20px;
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    li {
      background-color: #333;
      border-radius: 10px;
      a {
        display: block;
        text-align: center;
        color: #fff;
        padding: 10px 0;
      }
    }
  }
}
.content_inner:has(.project-info) {
  flex-direction: column;
  h4 {
    margin: 20px 0 10px;
  }
}
