@use 'var.scss' as *;
//사용자 정보 관리
.user_info_mg {
  .button_group {
    margin-top: 40px;
  }
  .content_box {
    .title_group {
      margin: 130px auto 45px;
      text-align: center;
      h1 {
        font-size: 20px;
        line-height: $lineh1_4;
        color: $title_color;
        & + p {
          margin-top: 10px;
        }
      }
      p {
        font-size: $size2;
        line-height: $lineh1_4;
        color: $text_color9;
      }
    }
    .cb_inner {
      margin-bottom: 140px;
      text-align: center;
      input {
        width: 320px;
        margin: 0 auto;
        text-align: left;
        padding: 14px 10px;
        &::placeholder {
          text-align: center;
        }
      }
    }
  }
  .table_a {
    td,
    th {
      border: 1px solid #f6f6f6;
      border-left: 0;
      border-right: 0;
      padding: 9px 8px 8px;
    }
    tr {
      &:last-child {
        td,
        th {
          border: 1px solid #cccccc;
          border-left: 0;
          border-right: 0;
        }
      }
    }
    th {
      padding-left: 0px;
      &:nth-child(1) {
        width: 160px;
      }
    }
    td {
      color: $text_color9;
    }
  }
}
